h1 {
    color:#000000;
}

html {
    height: 100vh;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
}

.logoContainer {
    width: 40vw;
    background-image: url(/images/olga-vilkha-background.jpg);
    background-position: 50% 35%;
}

.icon {
    width: 100px;
    height: 50px;
    transform: rotate(-25deg);
}

.logo {
    display: flex;
    justify-content: center;
    gap: 1vw;
    align-items: center;
    background-color: #ffffff8c;
    padding: 2.5em;
    position: relative;
    top: 18vh;
}

.logo h1 {
    margin: 0;
    font-size: 4.5em;
}

.dataContainer {
    width: 60vw;
    background-color: #262626;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dataContainer > * {
    margin: 2.5vh 15vw 2.5vh 2vw;
}

.information {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    font-size: 1.5em;
}

.data {
    background-color: #151515;
    padding-left: 2vw;
    margin-left: 0;
    margin-right: 0;
    padding: 5vh 15vw 5vh 2vw;
}