h1 {
    color:#5492aa;
}

html {
    height: 100vh;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
}

.logoContainer {
    width: 40vw;
    background-image: url(/images/olga-vilkha-background.jpg);
    background-position: 50% 35%;
}

.icon {
    width: 100px;
    height: 35px;
}



.data {
    width: 60vw;
}